.jura-uniquifier {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: white;
}
footer{
    text-align: center;
    font-family: "Jura";
    font-size: 20px;
    background-color: #D2BE98;
    margin-top: 100px;
    padding: 0.7% 1.5%;
}

.code-snippet{
    background-color: #D2BE98;
    font-family: "Jura";
    width: 120%;
    text-align: left;
}

.code-image{
    display: none;
}

.content-text{
    margin-left: 250px;
    position: absolute;
    margin-top: 3%;
    padding: 20px;
    font-family: "Jura";
}

#semantic-title, #accessibility-title{
    font-size: 40px;
}

.content-container {
    display: grid;
    gap: 15px;
    padding: 15px;
}


.content0 {
    grid-column: 1 /span 2;
    grid-row: 1;
    text-align: left;
    font-size: 25px;
}

.content1 {
    grid-column: 1;
    grid-row: 2 ;
}

.content2{
    grid-column: 1 /span 2;
    grid-row: 3;
}

.content3{
    grid-column: 2;
    grid-row: 2;
}

#good-contrast{
    color: white;
    background-color: darkblue;
    padding: 5%;
}

#bad-contrast{
    color: lightgrey;
    background-color: lightyellow;
    padding: 5%;
}

#good2, #bad2{
    display: none;
}

#good-toggle, #bad-toggle{
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    font-family: bold "Jura";
}

@media only screen and (min-width: 200px) and (max-width: 400px){
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 20px;
        font-family: "Jura";
        position: absolute;
        left: 30%;
    }
    #sub_title{
        font-size: 30px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 1%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 18px;
        position: absolute;
        top: 37%;
        left: 8%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 25px;
        position: absolute;
        top: 60%;
        left: 10%;
        margin-right: 4%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        transition: all 0.5s;
        box-shadow: 0 4px #746955;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:active{
        background-color: #ac9b7c;
        box-shadow: 0 1px #666;
        transform: translateY(4px);
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 105%;
        font-family: "Jura";
        font-size: 20px;
        text-align: center;
        left: 12.5%;
    }
    #view{
        display: none;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 135%;
        font-size: 25px;
        font-family: "Jura";
        left: 21.5%;
        text-align: center;
    }
    #viewsemantic{
        display: none;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 30px;
        font-family: "Jura";
        position: absolute;
        top: 162%;
        left: 21%;
    }
    #viewaccess{
        display: none;
    }
    #bottom{
        position: absolute;
        top: 172%;
        font-family: "Jura";
        font-size: 15px;
        left: 3%;
        width: 91%;
        padding: 1% 1.5%;
    }
    #bottom-wcag{
        position: absolute;
        top: 310%;
        font-family: "Jura";
        font-size: 15px;
        left: 3%;
        width: 91%;
        padding: 1% 1.5%;
    }

    .sidenav{
        display: none;
    }
    #myLinks a:hover 
    {
        background-color: #ac9b7c;
        color: white;
        cursor: pointer;
    }
    #wcag-title{
        font-family: "Jura";
        font-size: 20px;
        position: absolute;
        top: 10.5%;
        left: 5%;
    }
    #pour-title{
        font-family: "Jura";
        font-size: 17px;
        position: absolute;
        left: 5%;
        top: 20%;
        text-decoration: underline;
        font-weight: light;
    }
    #pour{
        font-family: "Jura";
        font-size: 17px;
        position: absolute;
        top: 24%;
        left: 5%;
        margin-right: 5%;
    }
    #perceive{
        font-family: "Jura";
        font-size: 15px;
        position: absolute;
        top: 35%;
        left: 5%;
        margin-right: 5%;
    }
    #perceive-ex{
        font-family: "Jura";
        position: absolute;
        top: 48%;
        left: 5%;
        font-size: 12px;
        margin-right: 5%;
    }
    mark{
        background-color: #e3d5ba;
    }
    #operable{
        font-family: "Jura";
        font-size: 15px;
        position: absolute;
        top: 95%;
        left: 5%;
        margin-right: 5%;
    }
    #operable-ex{
        font-family: "Jura";
        position: absolute;
        top: 119%;
        left: 5%;
        font-size: 12px;
        margin-right: 5%;
    }
    #understandable{
        font-family: "Jura";
        font-size: 15px;
        position: absolute;
        top: 163%;
        left: 5%;
        margin-right: 5%;
    }
    #understandable-ex{
        font-family: "Jura";
        position: absolute;
        top: 181%;
        left: 5%;
        font-size: 12px;
        margin-right: 5%;
    }
    #robust{
        font-family: "Jura";
        font-size: 15px;
        position: absolute;
        top: 220%;
        left: 5%;
        margin-right: 5%;
    }
    #robust-ex{
        font-family: "Jura";
        position: absolute;
        top: 238%;
        left: 5%;
        font-size: 12px;
        margin-right: 5%;
    }

    #compliance-title{
        font-family: "Jura";
        font-size: 17px;
        position: absolute;
        top: 259%;
        text-decoration: underline;
        left: 5%;
        font-weight: light;
    }
    #compliance{
        font-family: "Jura";
        font-size: 15px;
        position: absolute;
        top: 265%;
        left: 5%;
        margin-right: 5%;
    }
    #levels{
        font-family: "Jura";
        position: absolute;
        top: 278%;
        left: 5%;
        font-size: 12px;
        margin-right: 5%;
    }

    .topnav 
    {
        display: block;
        background-color: #D2BE98;
        position: relative;
        right: 2%;
        left: 2%;
        width: 96.5%;
        top: 1%;
        text-align: center;
    }
    .topnav #myLinks 
    {
        display: none;
    }
    .topnav a 
    {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        display: block;
        font-family: "Jura";
        cursor: pointer;
    }
    .topnav a.icon 
    {
        background: #D2BE98;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    .active {
        text-decoration: underline;
        background-color: #D2BE98;
        color: white;
    }
}
@media only screen and (min-width: 401px) and (max-width: 640px){
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 25px;
        font-family: "Jura";
        position: absolute;
        left: 30%;
    }
    #sub_title{
        font-size: 40px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 5%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 25px;
        position: absolute;
        top: 39%;
        left: 10%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 25px;
        position: absolute;
        top: 60%;
        left: 25%;
        margin-right: 4%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 100%;
        font-family: "Jura";
        font-size: 30px;
        text-align: center;
        margin-right: 2%;
    }
    #view{
        display: none;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 132.5%;
        font-size: 35px;
        font-family: "Jura";
        left: 11.7%;
        text-align: center;
    }
    #viewsemantic{
        display: none;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 161%;
        left: 17.5%;
    }
    #viewaccess{
        display: none;
    }
    #bottom{
        position: absolute;
        top: 185%;
        font-family: "Jura";
        font-size: 18px;
        left: 23%;
    }
    #bottomrec{
        background-color: #D2BE98;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 184%;
        left: 0%;
    }
    .code-snippet{
        font-size: smaller;
    }
    .content-text{
        font-size: medium;
        margin-left: 0px;
        position: absolute;
    }
    .content2{
        grid-column: 1;
        grid-row: 4;
    }
    
    .content3{
        grid-column: 1;
        grid-row: 3;
    }
    .sidenav{
        display: none;
    }
    .topnav 
    {
        display: block;
        background-color: #D2BE98;
        position: relative;
        right: 2%;
        left: 2%;
        width: 96.5%;
        top: 1%;
        text-align: center;
    }
    .topnav #myLinks 
    {
        display: none;
    }
    .topnav a 
    {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        display: block;
        font-family: "Jura";
        cursor: pointer;
    }
    .topnav a.icon 
    {
        background: #D2BE98;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    #myLinks a:hover 
    {
        background-color: #ac9b7c;
        color: white;
        cursor: pointer;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1007px){
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 40px;
        font-family: "Jura";
        position: absolute;
        margin-left: 28%;
        top: 3%;
    }
    #sub_title{
        font-size: 60px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 1%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 30px;
        position: absolute;
        top: 55%;
        left: 8%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 35px;
        position: absolute;
        top: 70%;
        left: 17%;
        margin-right: 4%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 102.5%;
        font-family: "Jura";
        font-size: 30px;
        text-align: center;
        left: 18%;
    }
    #view{
        display: none;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 132.5%;
        font-size: 35px;
        font-family: "Jura";
        left: 27.7%;
        text-align: center;
    }
    #viewsemantic{
        display: none;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 161%;
        left: 30.5%;
    }
    #viewaccess{
        display: none;
    }
    #bottom{
        position: absolute;
        top: 185%;
        font-family: "Jura";
        font-size: 18px;
        left: 35%;
    }


    .code-snippet{
        font-size: small;
        width: 120%;
    }
    .content-text{
        margin-left: 0px;
        position: absolute;
    }
    .content2{
        grid-column: 1;
        grid-row: 4;
    }
    
    .content3{
        grid-column: 1;
        grid-row: 3;
    }
    .sidenav{
        display: none;
    }
    .topnav 
    {
        display: block;
        background-color: #D2BE98;
        position: relative;
        right: 2%;
        left: 2%;
        width: 96.5%;
        top: 1%;
        text-align: center;
    }
    .topnav #myLinks 
    {
        display: none;
    }
    .topnav a 
    {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
        display: block;
        font-family: "Jura";
        cursor: pointer;
    }
    .topnav a.icon 
    {
        background: #D2BE98;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
    }
    #myLinks a:hover 
    {
        background-color: #ac9b7c;
        color: white;
        cursor: pointer;
    }
    
}
@media only screen and (min-width: 1008px) and (max-width: 1300px){
    .topnav{
        display: none;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 40px;
        font-family: "Jura";
        position: absolute;
        margin-left: 37%;
        top: 3%;
    }
    #sub_title{
        font-size: 60px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 14%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 30px;
        position: absolute;
        top: 55%;
        left: 28%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 35px;
        position: absolute;
        top: 70%;
        left: 33%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        transition: all 0.5s;
        box-shadow: 0 4px #746955;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:active{
        background-color: #ac9b7c;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 102.5%;
        font-family: "Jura";
        font-size: 30px;
        text-align: center;
        left: 15%;
    }
    #view{
        position: absolute;
        top: 104%;
        left: 72%;
        font-size: 30px;
        font-family: "Jura";
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #view:hover{
        color: #4b6458;
        cursor: pointer;
        position: absolute;
        top: 105%;
        left: 71%;
        font-size: 35px;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 132.5%;
        font-size: 35px;
        font-family: "Jura";
        left: 60%;
        text-align: center;
    }
    #viewsemantic{
        position: absolute;
        top: 133%;
        left: 13%;
        font-size: 30px;
        font-family: "Jura";
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #viewsemantic:hover{
        cursor: pointer;
        color: #785656;
        position: absolute;
        font-size: 35px;
        top: 134%;
        left: 12%;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 160%;
        left: 15%;
    }
    #viewaccess{
        font-size: 30px;
        font-family: "Jura";
        position: absolute;
        top: 161%;
        left: 72%;
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #viewaccess:hover{
        cursor: pointer;
        color: #5d7b8d;
        font-size: 35px;
        position: absolute;
        top: 162%;
        left: 71%;
    }
    #bottom{
        position: absolute;
        top: 170%;
        font-family: "Jura";
        font-size: 18px;
        left: 2%;
        width: 93%;
    }
    #wcag-title{
        font-family: "Jura";
        font-size: 40px;
        position: absolute;
        top: 10.5%;
        left: 18.5%;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 150px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #D2BE98; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenav a {
        padding: 100px 8px 8px 32px;
        text-decoration: none;
        font-size: 15px;
        font-family: "Jura";
        color: #ffffff;
        display: block;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    .sidenav a:hover {
        color: #f1f1f1;
        font-size: 20px;
    }
    #active {
        color: #ffffff;
        text-decoration: underline;
        font-size: 20px;
    }
    #main {
        padding: 20px;
    }
    #pour-title{
        padding: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        bottom: 25%;
        text-decoration: underline;
        left: 0%;
        font-weight: light;
    }
    #pour{
        padding: 300px;
        font-family: "Jura";
        font-size: 20px;
        position: absolute;
        bottom: 20%;
        left: 0%;
    }
    #perceive{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 38%;
        left: 0%;
        margin-right: 2%;
    }
    #perceive-ex{
        font-family: "Jura";
        position: absolute;
        top: 47%;
        left: 22%;
        margin-right: 2%;
    }
    mark{
        background-color: #e3d5ba;
    }
    #operable{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 85%;
        left: 0%;
        margin-right: 2%;
    }
    #operable-ex{
        font-family: "Jura";
        position: absolute;
        top: 97%;
        left: 22%;
        margin-right: 2%;
    }
    #understandable{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 135%;
        left: 0%;
        margin-right: 2%;
    }
    #understandable-ex{
        font-family: "Jura";
        position: absolute;
        top: 145%;
        left: 22%;
        margin-right: 2%;
    }
    #robust{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 180%;
        left: 0%;
        margin-right: 2%;
    }
    #robust-ex{
        font-family: "Jura";
        position: absolute;
        top: 190%;
        left: 22%;
        margin-right: 2%;
    }

    #compliance-title{
        padding: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        top: 170%;
        text-decoration: underline;
        left: 0%;
        font-weight: light;
    }
    #compliance{
        padding: 300px;
        font-family: "Jura";
        font-size: 20px;
        position: absolute;
        top: 178%;
        left: 0%;
    }
    #levels{
        font-family: "Jura";
        position: absolute;
        top: 230%;
        left: 22%;
        margin-right: 2%;
    } 

    .content-text{
        margin-left: 150px;
        position: absolute;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1900px){
    .topnav{
        display: none;
    }
    #webtitle{
        font-size: 50px;
        font-family: "Jura";
        position: absolute;
        left: 39%;
        text-decoration: none;
    }
    #sub_title{
        font-size: 100px;
        font-family: "Jura";
        position: absolute;
        left: 5%;
        top: 10%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 55px;
        position: absolute;
        top: 49%;
        left: 19%;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 50px;
        position: absolute;
        top: 70%;
        left: 30%;
        font-family: "Jura";
        background-color: #D2BE98;
        transition: all 0.5s;
        box-shadow: 0 5px #746955;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:active{
        background-color: #ac9b7c;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 120%;
        font-family: "Jura";
        font-size: 50px;
        text-align: center;
        left: 5%;
    }
    #view{
        position: absolute;
        top: 126%;
        left: 78%;
        font-size: 35px;
        font-family: "Jura";
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #view:hover{
        color: #4b6458;
        cursor: pointer;
        position: absolute;
        top: 125%;
        left: 77%;
        font-size: 40px;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 123%;
        left: 2%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 155%;
        left: 2%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 155%;
        font-size: 55px;
        font-family: "Jura";
        left: 65%;
    }
    #viewsemantic{
        position: absolute;
        top: 158%;
        left: 8%;
        font-size: 35px;
        font-family: "Jura";
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #viewsemantic:hover{
        cursor: pointer;
        color: #785656;
        position: absolute;
        font-size: 40px;
        top: 157%;
        left: 7%;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 187%;
        left: 2%;
        border-radius: 40px;
    }
    #access{
        font-size: 55px;
        font-family: "Jura";
        position: absolute;
        top: 186%;
        left: 5%;
    }
    #viewaccess{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 190%;
        left: 78%;
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #viewaccess:hover{
        cursor: pointer;
        color: #5d7b8d;
        font-size: 40px;
        position: absolute;
        top: 189%;
        left: 77%;
    }

    #bottom{
        position: absolute;
        top: 198%;
        font-family: "Jura";
        font-size: 20px;
        left: 1%;
        width: 95%;
        padding: 0.6% 1.5%;
    }
    #bottom-wcag{
        position: absolute;
        top: 250%;
        font-family: "Jura";
        font-size: 20px;
        left: 18%;
        width: 77.5%;
        padding: 0.6% 1.5%;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #wcag-title{
        font-family: "Jura";
        font-size: 40px;
        position: absolute;
        top: 10.5%;
        left: 18.5%;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #D2BE98; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenav a {
        padding: 100px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: "Jura";
        color: #ffffff;
        display: block;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    .sidenav a:hover {
        color: #f1f1f1;
        font-size: 28px;
    }
    #active {
        color: #ffffff;
        text-decoration: underline;
        font-size: 28px;
    }
    #main {
        padding: 20px;
    }
    #pour-title{
        padding: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        bottom: 25%;
        text-decoration: underline;
        left: 0%;
        font-weight: light;
    }
    #pour{
        padding: 300px;
        font-family: "Jura";
        font-size: 20px;
        position: absolute;
        bottom: 20%;
        left: 0%;
    }
    #perceive{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 38%;
        left: 0%;
        margin-right: 2%;
    }
    #perceive-ex{
        font-family: "Jura";
        position: absolute;
        top: 47%;
        left: 22%;
        margin-right: 2%;
    }
    mark{
        background-color: #e3d5ba;
    }
    #operable{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 85%;
        left: 0%;
        margin-right: 2%;
    }
    #operable-ex{
        font-family: "Jura";
        position: absolute;
        top: 97%;
        left: 22%;
        margin-right: 2%;
    }
    #understandable{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 135%;
        left: 0%;
        margin-right: 2%;
    }
    #understandable-ex{
        font-family: "Jura";
        position: absolute;
        top: 145%;
        left: 22%;
        margin-right: 2%;
    }
    #robust{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 18px;
        position: absolute;
        top: 180%;
        left: 0%;
        margin-right: 2%;
    }
    #robust-ex{
        font-family: "Jura";
        position: absolute;
        top: 190%;
        left: 22%;
        margin-right: 2%;
    }

    #compliance-title{
        padding: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        top: 170%;
        text-decoration: underline;
        left: 0%;
        font-weight: light;
    }
    #compliance{
        padding: 300px;
        font-family: "Jura";
        font-size: 20px;
        position: absolute;
        top: 178%;
        left: 0%;
    }
    #levels{
        font-family: "Jura";
        position: absolute;
        top: 230%;
        left: 22%;
        margin-right: 2%;
    } 
    
}
@media only screen and (min-width: 1901px){
    .topnav{
        display: none;
    }
    #webtitle{
        font-size: 65px;
        font-family: "Jura";
        position: absolute;
        left: 38%;
    }
    #sub_title{
        font-size: 130px;
        font-family: "Jura";
        position: absolute;
        left: 4%;
        top: 10%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 75px;
        position: absolute;
        top: 40%;
        left: 17.5%;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 90px;
        position: absolute;
        top: 60%;
        left: 23%;
        font-family: "Jura";
        background-color: #D2BE98;
        box-shadow: 0 5px #746955;
        transition: all 0.5s;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:active{
        background-color: #ac9b7c;
        box-shadow: 0 2px #666;
        transform: translateY(4px);
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 123.5%;
        font-family: "Jura";
        font-size: 70px;
        text-align: center;
        left: 5%;
    }
    #view{
        position: absolute;
        top: 128.5%;
        left: 75%;
        font-size: 55px;
        font-family: "Jura";
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #view:hover{
        color: #4b6458;
        cursor: pointer;
        position: absolute;
        top: 125%;
        left: 77%;
        font-size: 40px;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 125%;
        left: 2%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 155%;
        left: 2%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 155.5%;
        font-size: 80px;
        font-family: "Jura";
        left: 61%;
    }
    #viewsemantic{
        position: absolute;
        top: 158.5%;
        left: 8%;
        font-size: 55px;
        font-family: "Jura";
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
    }
    #viewsemantic:hover{
        cursor: pointer;
        color: #785656;
        position: absolute;
        top: 157.5%;
        left: 7%;
        font-size: 40px;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 187%;
        left: 2%;
        border-radius: 40px;
    }
    #access{
        font-size: 80px;
        font-family: "Jura";
        position: absolute;
        top: 187.5%;
        left: 5%;
    }
    #viewaccess{
        font-size: 55px;
        font-family: "Jura";
        position: absolute;
        top: 190.5%;
        left: 75%;
        text-decoration: underline;
        transition: all 0.5s;
        transition-timing-function: ease-in-out;
        
    }
    #viewaccess:hover{
        cursor: pointer;
        color: #5d7b8d;
        font-size: 40px;
        position: absolute;
        top: 189%;
        left: 77%;
    }

    #bottom{
        position: absolute;
        top: 205%;
        font-family: "Jura";
        font-size: 40px;
        left: 1%;
        width: 95%;
        padding: 0.6% 1.5%;
    }
    #bottom-wcag{
        position: absolute;
        top: 220%;
        font-family: "Jura";
        font-size: 40px;
        left: 14%;
        width: 81.5%;
        padding: 0.6% 1.5%;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #wcag-title{
        font-family: "Jura";
        font-size: 55px;
        position: absolute;
        top: 10.5%;
        left: 15.3%;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #D2BE98; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenav a {
        padding: 100px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: "Jura";
        color: #ffffff;
        display: block;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    #active {
        color: #ffffff;
        text-decoration: underline;
        font-size: 30px;
    }
    #main {
        padding: 20px;
    }
    #pour-title{
        padding: 300px;
        font-family: "Jura";
        font-size: 40px;
        position: absolute;
        bottom: 46%;
        text-decoration: underline;
        left: 0%;
        font-weight: light;
    }
    #pour{
        padding: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        bottom: 42%;
        left: 0%;
    }
    #perceive{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 24px;
        position: absolute;
        top: 33%;
        left: 0%;
        margin-right: 2%;
    }
    #perceive-ex{
        font-family: "Jura";
        position: absolute;
        top: 41%;
        left: 18%;
        font-size: 22px;
        margin-right: 2%;
    }
    mark{
        background-color: #e3d5ba;
    }
    #operable{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 24px;
        position: absolute;
        top: 69%;
        left: 0%;
        margin-right: 2%;
    }
    #operable-ex{
        font-family: "Jura";
        position: absolute;
        top: 80%;
        left: 18%;
        font-size: 22px;
        margin-right: 2%;
    }
    #understandable{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 24px;
        position: absolute;
        top: 110%;
        left: 0%;
        margin-right: 2%;
    }
    #understandable-ex{
        font-family: "Jura";
        position: absolute;
        top: 119%;
        left: 18%;
        font-size: 22px;
        margin-right: 2%;
    }
    #robust{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 24px;
        position: absolute;
        top: 148%;
        left: 0%;
        margin-right: 2%;
    }
    #robust-ex{
        font-family: "Jura";
        position: absolute;
        top: 157%;
        left: 18%;
        font-size: 22px;
        margin-right: 2%;
    }

    #compliance-title{
        padding: 300px;
        font-family: "Jura";
        font-size: 40px;
        position: absolute;
        top: 152%;
        text-decoration: underline;
        left: 0%;
        font-weight: light;
    }
    #compliance{
        padding: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        top: 159%;
        left: 0%;
    }
    #levels{
        font-family: "Jura";
        position: absolute;
        top: 193%;
        left: 18%;
        font-size: 22px;
        margin-right: 2%;
    }
}