.jura-uniquifier {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
}
body{
    background-color: white;
}

@media only screen and (min-width: 200px) and (max-width: 400px){
    img{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 17%;
        top: 12%;
    }
    .button-home{
        position: absolute;
        height: 30px;
        width: 30px;
        left: 5%;
        cursor: pointer;
    }
    .search-home{
        display: none;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 20px;
        font-family: "Jura";
        position: absolute;
        left: 35%;
    }
    #sub_title{
        font-size: 30px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 1%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 18px;
        position: absolute;
        top: 37%;
        left: 5%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 25px;
        position: absolute;
        top: 60%;
        left: 9%;
        margin-right: 4%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 105%;
        font-family: "Jura";
        font-size: 20px;
        text-align: center;
        left: 10%;
    }
    #view{
        display: none;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 135%;
        font-size: 25px;
        font-family: "Jura";
        left: 20%;
        text-align: center;
    }
    #viewsemantic{
        display: none;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 30px;
        font-family: "Jura";
        position: absolute;
        top: 162%;
        left: 20%;
    }
    #viewaccess{
        display: none;
    }
    #bottom{
        position: absolute;
        top: 185%;
        font-family: "Jura";
        font-size: 18px;
        left: 20%;
    }
    #bottomrec{
        background-color: #D2BE98;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 184%;
        left: 0%;
    }
}
@media only screen and (min-width: 401px) and (max-width: 640px){
    img{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 17%;
        top: 12%;
    }
    .button-home{
        position: absolute;
        height: 30px;
        width: 30px;
        left: 5%;
        cursor: pointer;
    }
    .search-home{
        display: none;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 25px;
        font-family: "Jura";
        position: absolute;
        left: 30%;
    }
    #sub_title{
        font-size: 40px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 5%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 25px;
        position: absolute;
        top: 39%;
        left: 10%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 25px;
        position: absolute;
        top: 60%;
        left: 25%;
        margin-right: 4%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 100%;
        font-family: "Jura";
        font-size: 30px;
        text-align: center;
        margin-right: 2%;
    }
    #view{
        display: none;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 132.5%;
        font-size: 35px;
        font-family: "Jura";
        left: 11.7%;
        text-align: center;
    }
    #viewsemantic{
        display: none;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 161%;
        left: 17.5%;
    }
    #viewaccess{
        display: none;
    }
    #bottom{
        position: absolute;
        top: 185%;
        font-family: "Jura";
        font-size: 18px;
        left: 23%;
    }
    #bottomrec{
        background-color: #D2BE98;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 184%;
        left: 0%;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1007px){
    img{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 15%;
        top: 15%;
    }
    .button-home{
        position: absolute;
        height: 60px;
        width: 60px;
        left: 5%;
        top: 3%;
        cursor: pointer;
    }
    .search-home{
        display: none;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #webtitle{
        font-size: 40px;
        font-family: "Jura";
        position: absolute;
        margin-left: 28%;
        top: 3%;
    }
    #sub_title{
        font-size: 60px;
        font-family: "Jura";
        position: absolute;
        top: 15%;
        left: 1%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 30px;
        position: absolute;
        top: 55%;
        left: 8%;
        text-align: center;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 35px;
        position: absolute;
        top: 70%;
        left: 17%;
        margin-right: 4%;
        text-align: center;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 102.5%;
        font-family: "Jura";
        font-size: 30px;
        text-align: center;
        left: 18%;
    }
    #view{
        display: none;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 100%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 129%;
        left: 7.5%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 132.5%;
        font-size: 35px;
        font-family: "Jura";
        left: 27.7%;
        text-align: center;
    }
    #viewsemantic{
        display: none;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 85%;
        height: 23%;
        position: absolute;
        top: 157%;
        left: 7.5%;
        border-radius: 40px;
    }
    #access{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 161%;
        left: 30.5%;
    }
    #viewaccess{
        display: none;
    }
    #bottom{
        position: absolute;
        top: 185%;
        font-family: "Jura";
        font-size: 18px;
        left: 35%;
    }
    #bottomrec{
        background-color: #D2BE98;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 184%;
        left: 0%;
    }
}
@media only screen and (min-width: 1008px) and (max-width: 1300px){
    #webtitle{
        font-size: 40px;
        font-family: "Jura";
        position: absolute;
        left: 40%;
    }
    #sub_title{
        font-size: 90px;
        font-family: "Jura";
        position: absolute;
        left: 5%;
        top: 15%;
        text-align: center;
        font-weight: lighter;
    }
}
@media only screen and (min-width: 1301px) and (max-width: 1900px){
    .search-container-home {
        border: none;
        position: absolute;
        left: 1%;
        top: 3%;
    }
    .search-home{
        font-size: 25px;
        font-family: "Jura";
    }
    .search{
        font-size: 20px;
        font-family: "Jura";
        width: 70%;
    }
    img{
        width: 35%;
        height: 60%;
        position: absolute;
        left: 30%;
        top: 20%;
    }
    .button{
        position: absolute;
        height: 100%;
        width: 20%;
        left: 75%;
        cursor: pointer;
    }
    .button-home{
        position: absolute;
        height: 100%;
        width: 20%;
        left: 102%;
        cursor: pointer;
    }
    .search-container{
        border: none;
        position: absolute;
        left: 5%;
        font-size: 17px;
    }
    
    #webtitle{
        font-size: 50px;
        font-family: "Jura";
        position: absolute;
        left: 39%;
        text-decoration: none;
    }
    #sub_title{
        font-size: 100px;
        font-family: "Jura";
        position: absolute;
        left: 5%;
        top: 10%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 55px;
        position: absolute;
        top: 49%;
        left: 19%;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 50px;
        position: absolute;
        top: 70%;
        left: 30%;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 120%;
        font-family: "Jura";
        font-size: 50px;
        text-align: center;
        left: 5%;
    }
    #view{
        position: absolute;
        top: 126%;
        left: 78%;
        font-size: 35px;
        font-family: "Jura";
        text-decoration: underline;
    }
    #view:hover{
        color: #4b6458;
        cursor: pointer;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 123%;
        left: 2%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 155%;
        left: 2%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 155%;
        font-size: 55px;
        font-family: "Jura";
        left: 65%;
    }
    #viewsemantic{
        position: absolute;
        top: 158%;
        left: 8%;
        font-size: 35px;
        font-family: "Jura";
        text-decoration: underline;
    }
    #viewsemantic:hover{
        cursor: pointer;
        color: #785656;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 187%;
        left: 2%;
        border-radius: 40px;
    }
    #access{
        font-size: 55px;
        font-family: "Jura";
        position: absolute;
        top: 186%;
        left: 5%;
    }
    #viewaccess{
        font-size: 35px;
        font-family: "Jura";
        position: absolute;
        top: 190%;
        left: 78%;
        text-decoration: underline;
    }

    #bottom{
        position: absolute;
        top: 215%;
        font-family: "Jura";
        font-size: 20px;
        left: 45%;
    }
    #bottomrec{
        background-color: #D2BE98;
        width: 100%;
        height: 5%;
        position: absolute;
        top: 214%;
        left: 0%;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #wcag-title{
        font-family: "Jura";
        font-size: 55px;
        position: absolute;
        top: 20%;
        left: 22%;
    }
    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #D2BE98; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenav a {
        padding: 100px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: "Jura";
        color: #ffffff;
        display: block;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    #active {
        color: #ffffff;
        text-decoration: underline;
        font-size: 30px;
    }
    #main {
        padding: 20px;
    }
    #pour{
        padding: 300px;
        font-family: "Jura";
        font-size: 40px;
        position: absolute;
        top: 0%;
    }
    #perceive{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 30px;
        position: absolute;
        top: 62%;
    }
    #perceive-ex{
        font-family: "Jura";
        font-size: 25px;
        position: absolute;
        top: 77%;
        left: 25%;
        padding-right: 4%;
    }
    mark{
        background-color: #e3d5ba;
    }
}
@media only screen and (min-width: 1901px){
    .search-container-home {
        border: none;
        position: absolute;
        left: 1%;
        top: 2%;
    }
    .search-home{
        font-size: 30px;
        font-family: "Jura";
    }
    .search{
        font-size: 20px;
        font-family: "Jura";
        width: 70%;
    }
    img{
        width: 35%;
        height: 60%;
        position: absolute;
        left: 30%;
        top: 20%;
    }
    .button{
        position: absolute;
        height: 100%;
        width: 20%;
        left: 75%;
        cursor: pointer;
    }
    .button-home{
        position: absolute;
        height: 100%;
        width: 20%;
        left: 102%;
        cursor: pointer;
    }
    .search-container{
        border: none;
        position: absolute;
        left: 5%;
        font-size: 17px;
    }
    #webtitle{
        font-size: 65px;
        font-family: "Jura";
        position: absolute;
        left: 40%;
    }
    #sub_title{
        font-size: 130px;
        font-family: "Jura";
        position: absolute;
        left: 4%;
        top: 10%;
        text-align: center;
        font-weight: lighter;
    }
    #describe{
        font-size: 75px;
        position: absolute;
        top: 40%;
        left: 17.5%;
        font-family: "Jura";
    }
    #clickhere{
        font-size: 90px;
        position: absolute;
        top: 60%;
        left: 23%;
        font-family: "Jura";
        background-color: #D2BE98;
        padding: 1%;
        border-radius: 50px;
        cursor: pointer;
    }
    #clickhere:hover{
        background-color: #ac9b7c;
    }
    #wcag{
        position: absolute;
        top: 123.5%;
        font-family: "Jura";
        font-size: 70px;
        text-align: center;
        left: 5%;
    }
    #view{
        position: absolute;
        top: 128.5%;
        left: 75%;
        font-size: 55px;
        font-family: "Jura";
        text-decoration: underline;
    }
    #view:hover{
        color: #4b6458;
        cursor: pointer;
    }
    #wcagrec{
        background-color: #98D2B6;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 125%;
        left: 2%;
        border-radius: 40px;
    }
    #semanticrec{
        background-color: #D29898;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 155%;
        left: 2%;
        border-radius: 40px;
    }
    #semantic{
        position: absolute;
        top: 155.5%;
        font-size: 80px;
        font-family: "Jura";
        left: 61%;
    }
    #viewsemantic{
        position: absolute;
        top: 158.5%;
        left: 8%;
        font-size: 55px;
        font-family: "Jura";
        text-decoration: underline;
    }
    #viewsemantic:hover{
        cursor: pointer;
        color: #785656;
    }
    #accessrec{
        background-color: #98BDD2;
        width: 95%;
        height: 23%;
        position: absolute;
        top: 187%;
        left: 2%;
        border-radius: 40px;
    }
    #access{
        font-size: 80px;
        font-family: "Jura";
        position: absolute;
        top: 187.5%;
        left: 5%;
    }
    #viewaccess{
        font-size: 55px;
        font-family: "Jura";
        position: absolute;
        top: 190.5%;
        left: 75%;
        text-decoration: underline;
    }

    #bottom{
        position: absolute;
        top: 214.7%;
        font-family: "Jura";
        font-size: 40px;
        left: 40%;
    }
    #bottomrec{
        background-color: #D2BE98;
        width: 100%;
        height: 5.5%;
        position: absolute;
        top: 214%;
        left: 0%;
    }
    a{
        color: black;
        text-decoration: none;
    }
    #wcag-title{
        font-family: "Jura";
        font-size: 70px;
        position: absolute;
        top: 15%;
        left: 22%;
    }

    .sidenav {
        height: 100%; /* 100% Full-height */
        width: 250px; /* 0 width - change this with JavaScript */
        position: fixed; /* Stay in place */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #D2BE98; /* Black*/
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 60px; /* Place content 60px from the top */
        transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    }
    .sidenav a {
        padding: 80px 8px 8px 32px;
        margin-top: 50%;
        text-decoration: none;
        font-size: 25px;
        font-family: "Jura";
        color: #ffffff;
        display: block;
    }
    .sidenav a:hover {
        color: #f1f1f1;
    }
    #active {
        color: #ffffff;
        text-decoration: underline;
        font-size: 30px;
    }
    #main {
        padding: 20px;
    }
    #pour{
        padding: 300px;
        font-family: "Jura";
        font-size: 50px;
        position: absolute;
        left: 3%;
    }
    #perceive{
        padding-left: 300px;
        font-family: "Jura";
        font-size: 40px;
        position: absolute;
        top: 45%;
        left: 3%;
    }
    #perceive-ex{
        font-family: "Jura";
        font-size: 35px;
        position: absolute;
        top: 57%;
        left: 22%;
        padding-right: 6%;
    }
    mark{
        background-color: #e3d5ba;
    }
}